@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .material-symbols-outlined { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  
  /* Custom gauge gradient */
  .conic-gradient-gauge { 
    background: conic-gradient(var(--gauge-color) var(--gauge-percent), #E5E7EB 0); 
  }
  .dark .conic-gradient-gauge { 
    background: conic-gradient(var(--gauge-color) var(--gauge-percent), #333333 0); 
  }
}
